@model IEnumerable<HMSphere.MVC.ViewModels.MedicalRecordViewModel>

@{
    ViewData["Title"] = "Patient Medical Records";
    var newRecord = new HMSphere.MVC.ViewModels.MedicalRecordViewModel();
}

<style>
    .table td, .table th {
        text-align: center;
        vertical-align: middle;
    }

        .btn:hover {
            color:white;
        }

    .table-row-selectable {
        cursor: pointer;
    }

        .table-row-selectable:hover {
            background-color: #f0f0f0;
        }
</style>

<div class="container mt-4">
    <div class="d-flex justify-content-between mb-4">
        <h2>@Model.FirstOrDefault().PatientFirstName's Medical Record</h2>
    </div>

    <form asp-action="SaveCreate" asp-controller="Doctor">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="@newRecord.Diagnosis"></label>
                    <input asp-for="@newRecord.Diagnosis" class="form-control" id="diagnosis" />
                    <span class="text-danger" asp-validation-for="@newRecord.Diagnosis"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="@newRecord.TreatmentPlan"></label>
                    <input asp-for="@newRecord.TreatmentPlan" class="form-control" id="treatmentPlan" />
                    <span class="text-danger" asp-validation-for="@newRecord.TreatmentPlan"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="@newRecord.Medications"></label>
                    <input asp-for="@newRecord.Medications" class="form-control" id="medications" />
                    <span class="text-danger" asp-validation-for="@newRecord.Medications"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="@newRecord.DoctorNotes"></label>
                    <input asp-for="@newRecord.DoctorNotes" class="form-control" id="doctorNotes" />
                    <span class="text-danger" asp-validation-for="@newRecord.DoctorNotes"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-end">
                <button type="submit" class="btn btn-success">Add New Medical Record</button>
                <button type="submit" class="btn btn-warning">Update</button>
            </div>
        </div>
    </form>
    <br />

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Diagnosis</th>
                    <th>Treatment Plan</th>
                    <th>Medications</th>
                    <th>Doctor's Name</th>
                    <th>Doctor's Note</th>
                    <th>Last Updated</th>
                    <th>Details</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr class="table-row-selectable" id="@item.Id">
                        <td>@item.Diagnosis</td>
                        <td>@item.TreatmentPlan</td>
                        <td>@item.Medications</td>
                        <td>@item.DoctorNotes</td>
                        <td>@item.DoctorNotes</td>
                        <td>@item.LastUpdated</td>
                        <td>
                            <form asp-controller="Doctor" asp-action="MedicalRecordDetails" asp-route-data="@item.Id" method="get">
                                <input type="hidden" name="recordId" value="@item.Id" />
                                <button type="submit" class="btn btn-outline-primary">View</button>
                            </form>
                        </td>
                        <td>
                           @*  <form asp-controller="Doctor" asp-action="MedicalRecords" asp-route-data="@item.Id" method="get">
                                <input type="hidden" name="recordId" value="@item.Id" />
                            </form> *@
                            <button type="button" class="btn btn-outline-warning" onclick="AddRecordToCells(@item.Id)">Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    // document.querySelectorAll('.table-row-selectable').forEach(row => {
    //     row.addEventListener('click', function () {
    //         // Extract data from each cell
    //         const cells = this.querySelectorAll('td');
    //         // document.getElementById('createdDate').value = cells[0].innerText.trim();
    //         document.getElementById('diagnosis').value = cells[1].innerText.trim();
    //         document.getElementById('treatmentPlan').value = cells[2].innerText.trim();
    //         document.getElementById('medications').value = cells[3].innerText.trim();
    //         document.getElementById('doctorNotes').value = cells[5].innerText.trim();
    //         // document.getElementById('lastUpdated').value = cells[6].innerText.trim();
    //     });
    // });

    function AddRecordToCells(Id) {
        let cells = document.getElementById(Id).getElementsByTagName('td');
        document.getElementById('diagnosis').value = cells[0].innerText.trim();
        document.getElementById('treatmentPlan').value = cells[1].innerText.trim();
        document.getElementById('medications').value = cells[2].innerText.trim();
        document.getElementById('doctorNotes').value = cells[4].innerText.trim();
    }
</script>
